<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./form-mobile.css" media="screen and(min-width: 320px) and (max-width: 680px)">
    <link rel="stylesheet" href="./form.css" media="screen and (min-width: 700px)">
</head>
<body>
    <main class="main">
        <section class="container">
            <div class="container-div">
                <form action="">
                    <input type="text" placeholder="Nombre completo" required>
                    <input type="number" placeholder="Edad" required>
                    <input type="email" placeholder="Email" required>
                    <input type="password" placeholder="Contraseña" required>
                    <input type="submit" placeholder="Ingresar">
    
                </form>
            </div>
        </section>
    </main>
    <footer>
        <a href="">Nosotros</a>
    </footer>
</body>
</html>